/* --- PROMO BANNER THEME --- */

#promo-banner {
    background: linear-gradient(90deg, #FF8C00, #ff4500); /* Laranja Vibrante */
    color: #fff;
    padding: 12px 0;
    width: 100%;
    position: absolute; /* Para ficar em cima da foto (hero) */
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

#promo-banner p {
    margin: 0;
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
